[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CerioliOutlierDetection"]
	path = CerioliOutlierDetection
	url = https://github.com/christopherggreen/ceriolioutlierdetection
